build/* linguist-documentation

build/mg996r/* linguist-documentation
build/mg996r/ament_cmake_uninstall_target linguist-documentation
build/mg996r/CMakeFiles/* linguist-documentation
build/mg996r/CMakeFiles/3.16.3/* linguist-documentation
build/mg996r/ament_cmake_core/stamps/* linguist-documentation
build/mg996r/ament_cmake_package_templates/* linguist-documentation

build/test_operation/* linguist-documentation
build/test_operation/ament_cmake_uninstall_target linguist-documentation
build/test_operation/CMakeFiles/* linguist-documentation
build/test_operation/CMakeFiles/3.16.3/* linguist-documentation
build/test_operation/ament_cmake_core/stamps/* linguist-documentation
build/test_operation/ament_cmake_package_templates/* linguist-documentation
